@font-face {
	font-family: mijaRegular;
	src: url("fonts/Mija W03 Regular.ttf");
}

@font-face {
	font-family: mijaBold;
	src: url("fonts/Mija W03 Bold.ttf");
}

.relative {
	position: relative;
}

.flex {
	display: flex;
}

.hidden {
	display: none;
}

a {
	text-decoration: none;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

ul {
	list-style: none;
}

nav ul a {
	color: white;
	font-size: 1.1rem;
}

nav ul li:not(:first-child) {
	margin-top: 15px;
}

nav {
	background: #d33a2c;
	font-family: mijaBold;
}

#nav-divider {
	align-items: center;
	padding: 20px 10px;
	justify-content: flex-start;
	gap: 50px;
}

.nav-link {
	color: white;
	font-size: 1.2rem;
	padding: 8px;
	border-radius: 8px;
}

.nav-link:hover {
	background-color: rgba(0,0,0,.5);
}

#logo {
	height: 4em;
	position: absolute;
	left: 0;
	top: -15px;
}


nav input {
	display: block;
	padding: 15px 10px 15px 35px;
	font-size: 1.3rem;
	border-radius: 10px;
	font-family: mijaBold;	
}

input {
	width: 100%;
	outline: none;
}

#nav-left-side {
	align-items: center;
	gap: 20px;
}

nav input:focus {
	border: 2px dotted black;
}

#search-icon {
	position: absolute;
	top: 27%;
	left: 10px;
	color: #d33a2c;
	font-size: 1.4rem;
	font-weight: bold;
}

#logo-link {
	display: block;
}

#nav-btn {
	background-color: rgba(0,0,0,.2);
	font-family: inherit;
	color: white;
	border: 0;
	border-radius: 8px;
	padding: 7px;
	font-size: 1.2rem;
	cursor: pointer;
	display: flex;
	align-items: center;
	gap: 5px;
	border: 3px solid rgba(168, 46, 35);
	outline: none;

}

#nav-btn:focus {
	border: 3px dotted black;
}

#nav-btn:hover {
	background-color: rgba(0,0,0,.5);
}

.btn-cat {
	height: 1.5rem;
	margin-top: 5px;
}

#desktop-options {
	background: white;
	position: absolute;
	top: 70px;
	left: -20px;
	border-radius: 5px;
	padding: 10px;
	white-space: nowrap;
	box-shadow: 5px 10px 8px 10px #888888;
}

#desktop-options:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-top: 10px solid transparent;
    border-bottom: 10x solid transparent; 
    border-right: 30px solid red; 
	top: -10px;
	transform: rotate(90deg);
}

#desktop-options:after {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-top: 10px solid transparent;
    border-bottom: 10x solid transparent; 
    border-right: 30px solid blue; 
	top: -10px;
	transform: scaleX(-1);
}

#desktop-options ul li a {
	color: #d33a2c;
	font-size: 1.2rem;
}

#mobile-options {
	justify-content: space-around;
	padding: 10px 0 60px 0;
}

#search-container {
	width: 100%;
}

#menu-1 {
	margin-left: 50px;
}

#nav-btn,
#menu-2,
#menu-3,
#menu-4,
#menu-5,
#menu-6 {
	display: none;
}

#mobile-membership-1,
#mobile-wfu-1 {
	display: none;
}

.article-author-img-big,
.article-author-img-small,
.article-author-img-smallest {
	transform: rotate(-20deg);
	border-radius: 10px;
	cursor: pointer;
}

.article-author-img-big {
	border: 5px solid #d33a2c;
	height: 150px;
}

.article-author-img-small {
	border: 3px solid #d33a2c;
	height: 120px;
}

.article-author-img-smallest {
	border: 3px solid #d33a2c;
	height: 100px;
}

.article-author-img-big:hover,
.article-author-img-small:hover,
.article-author-img-smallest:hover {
	transform: initial;
	transition: 0.3s;
}

.article-divider img {
	margin-left: 20px;
}

#top-section article:first-child {
	margin-top: 0;
}

#top-section article:not(:first-child) {
	margin-top: 40px;
}

.wrote {
	color: #999;
}

.grey {
	color: #666;
}

.georgia {
	font-family: Georgia;
}

.italic {
	font-style: italic;
}

.mija-link {
	text-decoration: underline;
	font-family: mijaBold;
}

.author-link,
.continue-link {
	color: #d33a2c;
}

.continue {
	margin-top: 20px;
}

.article-divider h1 {
	font-family: mijaBold;
	margin: 15px 0 10px 0;
}

.big-header {
	font-size: 2.3rem;
}

.lesser-header,
#latest-posts .big-header {
	font-size: 1.8rem;
}

.article-divider h1 a ,
.tag,
.article-text {
	color: #333;
}

section {
	padding: 20px;
}

.article-left-side {
	padding-top: 20px;
}

.article-text {
	margin-top: 20px;
	line-height: 1.5;
}

.article-right-side {
	margin-top: 20px;
}

#promo {
	background: #e7f8ff;
	padding: 120px 25px 40px 25px;
	border-radius: 10px;
	position: absolute;
	left: 0;
	top: 120px;
	width: 100%;
	z-index: 1;
	text-align: center;

}

#promo h1 {
	font-size: 1.7rem;
	line-height: 1.2;
	margin: 30px 0 20px 0;
}

#promo-info {
	line-height: 1.6;
	font-size: 1.1rem;
}

#promo-info a,
#latest-posts .article-text a {
	color: #006fc6;
	text-decoration: underline;
	font-weight: bold;
}

#promo-img {
	height: 230px;
}

#promo-img-holder {
	display: block;
	text-align: center;
	z-index: 3;
	position: relative;
}

#promo-btn {
	border: 0;
	border-radius: 10px;
	background: white;
	color: #d33a2c;
	font-family: mijaBold;
	font-size: 1.5rem;
	padding: 10px;
	cursor: pointer;
	
}

#promo-text-box {
	font-family: Georgia;
	font-style: italic;
	padding: 15px;
	border-radius: 10px;
	font-size: 1.2rem;
}

#meow-btn {
	border: 0;
	cursor: pointer;
	border-radius: 7px;
	padding: 10px;
	color: white;
	background: #0168b8;
	font-family: mijaBold;
	font-size: 1.4rem;
	width: 100%;
	margin-top: 20px;
}

#promo-bottom {
	color: grey;
	font-size: 0.9rem;
}

#promo-bottom a {
	text-decoration: underline;
	color: grey;
}

#promo-search-container {
	width: 100%;
	margin-top: 30px;
	margin-bottom: 20px;
}

#top-section-right {
	margin-top: 90px;
}

#left-guide {
	background: rgb(241, 253, 248);
}

#middle-guide {
	background: rgb(254, 241, 240);
}

#right-guide {
	background: rgb(251, 236, 249);
}

.small-header {
	font-size: 0.7rem;
}

.guide h2 a {
	font-family: mijaBold;
	text-decoration: underline;
}

.guide h2 {
    margin-top: 5px;
}

#left-guide h2 a {
    color: #19a972;    
}

#middle-guide h2 a {
    color: rgb(255, 90, 0);
}

#right-guide h2 a {
    color: rgb(170, 25, 148);
}

#left-guide-btn {
	background: #19a972;
}

#middle-guide-btn {
	background: rgb(255, 90, 0);
}

#right-guide-btn {
	background: rgb(170, 25, 148);
}

.guide-btn {
    border: 0;
    color: white;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2rem;
    font-family: mijaBold;
}

#guides-container {
	display: block;
}


.guide .guide-text {
    margin: 20px 0;
    line-height: 1.5;
}

#guides-section .guide:not(:first-child) {
    margin-top: 30px;
}

.guide {
    border-radius: 10px;
    padding: 30px;
}

.see-link {
    text-align: center;
    margin-top: 20px;
}

.see-link a {
    font-family: Georgia;
    font-size: 0.8rem;
    color: #666;
    border-bottom: 7px solid rgb(255, 90, 0);
    padding: 5px;
}

#latest-posts .article-text {
	margin-bottom: 20px;
}

#latest-posts {
	display: grid;
	grid-gap: 20px;
}

#latest-posts-container {
	margin-top: 50px;
}

#latest-posts > div:not(:first-child) {
	margin-top: 30px;
}

.vertical-text {
	font-size: 0.9rem;
	font-weight: bold;	
}

.long-line {
	letter-spacing: -4px;;
}

#latest-posts {
	padding: 10px;
}

#workshop-section {
	background: rgb(27, 113, 187);
	padding: 0;
	margin-top: 70px;
}

#workshop-img {
	width: 90%;
	margin: auto;
	display: block;
}


@media screen and (min-width: 500px) {
	#nav-btn {
		display: flex;
		margin-left: 50px;
	}
	
	#nav-divider {
		gap: 20px;
	}
}

@media screen and (min-width: 680px) {	
    #guides-section .guide:not(:first-child) {
        margin-top: 0;
    }

	#promo-text-box {
		width: 110%;
		padding: 15px 35px 15px 15px;
	}
	
	#promo-search-container {
		width: 60%;
		margin: 30px auto 20px auto;
		display: grid;
		grid-template-columns: 1fr 0.6fr;
	}
	
	#meow-btn {
		border-top-right-radius: 10px;
		border-bottom-right-radius: 10px;	
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;	
		margin-top: 0;
	}

	.article-divider {
		display: flex;
		gap: 30px;
	}
	
	.article-right-side {
		margin-top: 0;
	}

	#top-section article:first-child {
		margin-top: 70px;
		background: white;
	}
	
	#promo-img-holder {
		margin-top: 20px;
	}
	
	#top-section,
	#guides-section {
		padding: 0 70px;
	}
	
	#latest-posts {
		padding: 0 90px;
	}

	#menu-2 {
		display: block;
		margin-left: 50px;
	}	
	
	#mobile-membership-1,
	#mobile-wfu-1 {
		display: block;
	}
	
	#mobile-articles,
	#mobile-membership-2,
	#mobile-wfu-2 {
		display: none;
	}
	
	#nav-btn {
		margin-left: 0px;
	}
	
    #guides-container {
		display: grid;
		grid-template-columns: 1fr 1fr;
        grid-gap: 20px;        
    }
}

@media screen and (min-width: 780px) {
	#menu-3 {
		display: block;
	}	
	
	#desktop-guides {
		display: none;
	}	
}

@media screen and (min-width: 880px) {
	#menu-4 {
		display: block;
	}	
	
	#desktop-books {
		display: none;
	}
	
	#latest-posts {
		grid-template-columns: 1fr 1fr;
        grid-gap: 50px 30px;  	
	}
	
	#latest-posts-container {
		margin-top: 100px;
	}
	
	#latest-posts > div:not(:first-child) {
		margin-top: 0;
	}
}

@media screen and (min-width: 980px) {
	#menu-5 {
		display: block;
	}	
	
	#desktop-workshop {
		display: none;
	}
}

@media screen and (min-width: 1080px) {
	#menu-6 {
		display: block;
	}
	
	#desktop-membership {
		display: none;
	}
}

@media screen and (min-width: 1200px) {
	#top-section {
		display: grid;
		grid-template-columns: 2fr 1fr;	
		grid-gap: 70px;	
	}
	
	#top-section-right {
		margin-top: 0;
	}
	
	#promo-search-container {
		width: 100%;
	}
	
	#promo {
		top: 138px;
	}
    
	#guides-section {
        margin-top: 300px;
	}
    
    #guides-container{
 		grid-template-columns: 1fr 1fr 1fr;       
    }
	
	.vertical-text {
		writing-mode: vertical-rl;
		text-orientation: mixed;
		position: absolute;
		top: 0;
		left: 75px;
	}
	
	#workshop-img {
		width: 60%;
	}
}


@media screen and (min-width: 800px) {
	#nav-divider {
		padding: 20px 40px;
		justify-content: space-between;
	}
	
	#search-container {
		width: 35%;
	}
}